body {
margin: 0;
padding: 0;
overflow: hidden;
height: 100%;
max-height: 100%;
font-family:Sans-serif;
line-height: 1.5em;
}

main {
  position: fixed;
  top: 100px; /* Set this to the height of the header */
  bottom: 70px; /* Set this to the height of the footer */
  left: 200px;
  right: 200px;
  overflow: auto;
  background: white;
}

hr {
  color: black;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 10px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
  z-index: 100;

}


#header {
  color: white;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  overflow: hidden; /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */

}

#left {
  position: absolute;
  top: 100px; /* Set this to the height of the header */
  bottom: 0px; /* Set this to the height of the footer */
  left: 0;
  width: 200px;
  background-color: green;
  z-index: 10;
  overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */

}

#right {
  position: absolute;
  top: 100px; /* Set this to the height of the header */
  bottom: 0px; /* Set this to the height of the footer */
  right: 0;
  width: 200px;
  background-color: green;
  z-index: 10;
  overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */

}

/*IE6 fix*/
* html body{
  padding: 87px 200px 70px 200px;
  /* 1 height of the header
     2 width of the right column
     3 height of the footer
     4 width of the left column */
}

* html main{
  height: 100%;
  width: 100%;
}
